{% from _self import renderPager %}

{% set layout = "ClarolineCoreBundle::layout.html.twig" %}

{% extends layout %}

{% block title %}{% endblock %}

{% block content %}
 <div class="panel panel-default">
        <div class="panel-body">
            {% block section_content %}{% endblock %}
        </div>
 </div>
{% endblock %}
