{% from _self import renderPager %}
{% set layout = "ClarolineOfflineBundle::layout.html.twig" %}

{% extends layout%}

{% block title%}
{% endblock%}

{% block section_content %}

<h1>Ceci est un titre</h1>
<p>Et un paragraphe, C'est donc {{user}}</p>

{% endblock %}