{% from _self import renderPager %}

{% set layout = "ClarolineOfflineBundle:Offline:content.html.twig" %}

{% extends layout%}

{%block sync%}
<p>Je devrais avoir une liste de cours<br/>
Les magnifiques cours de {{user}} sont maintenant dans un fichier zip!
</p>
{%endblock%}