<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue</title>
    </head>
    <body>
        <h1>HELLO WORLD</h1>
        <p>
        Ceci est une super paragraphe très long.
        </p>
    </body>
</html>