{% from _self import renderPager %}

{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}{% endblock %}

{% block section_content %}

<h1>Ceci est un titre</h1>
<p>Et un paragraphe</p>
{% endblock %}
    
{% block javascripts %}
{% endblock %}

