{% from _self import renderPager %}

{% set layout = "ClarolineOfflineBundle:Offline:content.html.twig" %}

{% extends layout%}

{%block sync%}
<p>{{ 'last_sync'|trans({}, 'offline') }} 
{% for date in user_sync_date %}
    {%for field in date%}
        {{field | date('d/m/Y') }}
    {% endfor %}
{% endfor %}<br/>
{{ 'update'|trans({}, 'offline') }}
</p>
{%endblock%}