{% from _self import renderPager %}

{% set layout = "ClarolineOfflineBundle:Offline:content.html.twig" %}

{% extends layout%}

{%block sync%}
<p>{{ 'last_sync'|trans({}, 'offline') }} {{user_sync_date | date('d/m/Y') }}<br/>
{{ 'update'|trans({}, 'offline') }}
</p>
{%endblock%}