{% from _self import renderPager %}

{% set layout = "ClarolineOfflineBundle:Offline:content.html.twig" %}

{% extends layout%}

{%block sync%}
    {% if transfer %}
        <p>
        I am on transfer page 
        Here you can to download zip.
        </p>
    {%else%}
        <p>
            We can't begin the transfer, you try to catch sync file of someone else
        </p>
    {%endif%}
{%endblock%}