{% from _self import renderPager %}

{% set layout = "ClarolineOfflineBundle:Offline:content.html.twig" %}

{% extends layout%}

{%block sync%}
<p>
I am on transfer page 
Here you can to download zip.
</p>
{%endblock%}